.demo {
    position: relative;
    height: 100%;
    background-color: #f1f1f1;
    padding: 32px;
}
.demo-preload-date {
    position: relative;
    height: 100%;
    background-color: #909090;
}
.movable-window {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 100px;
    margin: -50px 0 0 -50px;
    background-color: #fff;
}
.movable-window:hover{
    cursor: pointer;
}

.movable-window.--test{
    margin: -100px 0 0 0;
}